.contenedor-principal-reportes {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
}

.contedor-encapsulamiento-gris {
    width: 75%;
    height: 75%;
    background-color: #e7e6e6;
    box-sizing: content-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.contenedor-opciones-reporte {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tabla-reportes-encapsulamiento-blanco {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.tabla-reportes {
    width: 90%;
    height: 95%;
    background-color: white;
    border-radius: 15px;
    border: 1px solid rgba(4, 4, 4, 0.29);
}

.seleccionar-buscar {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    gap: 1%;
}

.fecha-inicio-finalizacion {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.iconos-reportes {
    width: 50px;
}

.seleccionar-reporte>label {
    color: hsl(145deg 100% 28%);
}

.input-fecha {
    text-align: center;
    width: 30%;
    height: 10%;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 500 white;
    border: 1px solid black;
}

.input-busqueda {
    width: 25%;
    height: 40%;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 500 white;
    border: 1px solid black;
    text-align: center;
}

.boton-busqueda {
    width: 15%;
    height: 40%;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 500 white;
    border: 1px solid black;
    text-align: center;
    background-color: hsl(145deg 100% 28%);
    color: white;
}

.input-reportes {
    text-align: center;
    width: 100%;
    height: 40%;
    border-radius: 25px;
    font-size: 30px;
    font-weight: 500 white;
    border: 1px solid black;
}

.input-busqueda {
    text-align: center;
    width: 40%;
    height: 40%;
    border-radius: 25px;
    font-size: 30px;
    font-weight: 500 white;
    border: 1px solid black;
}