
.icono-rectangulo-movil{
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
}

.texto-rectangulo{
    position: absolute;
    color: white;
    font-size: 1.7em;
    padding-left: 1em;
}

.img-rectangulo{
    width: 90vw;
    max-width: 60em;
    max-height: 6em;
}

.icono-subtemarectangulo-movil{
    display: flex;
    position: relative;
    height: 4em;
}

.texto-subtemarectangulo{
    position: absolute;
    color: white;
    font-size: 1.2em;
    text-align: left;
    width: 10em;
    margin: 0;
    left: 10%;
    top: 20%;
}

.img-subtemarectangulo{
    width: 20em;
    height: 3em;
}

.icon-datos-solicitante{
    position: absolute;
    width: 32px;
    left: 3%;
    top: 10%;
}

.img-subtemarectangulo-desktop{
    display: none;
}


@media (min-width: 700px) {

    .img-subtemarectangulo{
        width: 50vw;
        max-width: 80%;
        height: 4em;
    }

    .texto-rectangulo{
        font-size: 2em;
    }

    .texto-subtemarectangulo{
        font-size: 1.4em;
        left: 8%;
    }

    .img-subtemarectangulo{
        display: none;
    }

    .icon-datos-solicitante{
        width: 2.3em;
        top: 20%;
    }

    .img-subtemarectangulo-desktop{
        display: block;
        width: 80vw;
        max-width: 70em;
    }
    
}


