.modulo-solicitud-navbar {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

.modulo-solicitud-navbar>a {
    width: 3%;
}

.modulo-solicitud-small-image {
    width: 100%;
}

.modulo-solicitud-wrapper {
    /* padding: 6rem; */
    height: 100%;
}

.modulo-solicitud-content {
    display: grid;
    grid-template-columns: 3.5fr 15fr 3fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* margin: 2cm; */
    height: 100%;

}

.modulo-solicitud-content-navbar {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    border: solid 1px #CBC9C9;
    padding: 10px;
    background-color: #cbc9c9;
    /* align-self: center; */
    min-height: 100%;
    /* justify-content: center; */
    

}

.modulo-solicitud-content-navbar-link {
    background-color: #00460e;
    border: 1px solid #dedede;
    margin: 4px;
    padding: 10px 5px;
    border-radius: 4px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* background-color: ; */
    text-align: center;
    transition: margin-left 180ms;
    transition: color 180ms;
    font-size: larger;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

@media (max-height: 1235px) {
    .modulo-solicitud-content-navbar {
        padding: 10px;
    }

    .modulo-solicitud-content-navbar-link {
        margin: 0px;
        /* padding: 0px; */
        height: 4rem;

    }
}

@media (max-height: 760px) {
    .modulo-solicitud-content-navbar {
        padding: 10px;
    }

    .modulo-solicitud-content-navbar-link {
        margin: 0px;
        /* padding: 0px; */
        height: 3rem;
    }
}

.modulo-solicitud-content-navbar-link:hover {
    background-color: #5c9e31;
    width: 100%;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
}

.modulo-solicitud-content-navbar-link:focus {
    background-color: #5c9e31;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
}


.modulo-solicitud-content-main {
    grid-area: 1 / 2 / 2 / 3;
    border: 1px solid #CCC;
    /* min-height: 82vh; */
    overflow: auto;
    overflow-x: hidden;

}




.wrapper {

    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    flex-direction: column;
    font-family: 'Helvetica';
    font-size: 14px;
    border: 1px solid #CCC;
    padding: 1rem;
    background-color: #FFF;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    /* border-radius: 10px; */
}

.StepProgress {
    position: relative;
    padding-left: 45px;
    list-style: none;
}

.StepProgress::before {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
    border-left: 2px solid #CCC;
}

.StepProgress-item {
    position: relative;
    counter-increment: list;
}

.StepProgress-item:not(:last-child) {
    padding-bottom: 20px;
}

.StepProgress-item::before {
    display: inline-block;
    content: '';
    position: absolute;
    left: -30px;
    height: 100%;
    width: 10px;
}

.StepProgress-item::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: -37px;
    width: 16px;
    height: 16px;
    border: 2px solid #CCC;
    border-radius: 50%;
    background-color: #FFF;
}

.StepProgress-item.is-done::before {
    border-left: 2px solid green;
}

.StepProgress-item.is-done::after {
    content: "✔";
    font-size: 10px;
    color: #FFF;
    text-align: center;
    border: 2px solid green;
    background-color: green;
}

.StepProgress-item.current::before {
    border-left: 2px solid green;
}

.StepProgress-item.current::after {
    content: counter(list);
    padding-top: 1px;
    width: 19px;
    height: 22px;
    top: -4px;
    left: -40px;
    font-size: 14px;
    text-align: center;
    color: green;
    border: 2px solid green;
    background-color: white;
}

.StepProgress strong {
    display: block;
}