plataformaCentroDeConciliacion/Backend/apiConciliacion/env/
plataformaCentroDeConciliacion/Backend/apiConciliacion/apiConciliacionApp/__pycache__
plataformaCentroDeConciliacion/Backend/apiConciliacion/apiConciliacionApp/migrations
plataformaCentroDeConciliacion/ApiGateway/node_modules
plataformaCentroDeConciliacion/Frontend/apiconciliaciones/node_modules
plataformaCentroDeConciliacion/Backend/Document Generation/node_modules