:root {
  --font: 'Roboto Condensed', Roboto, sans-serif;
}

.App {
  text-align: center;
}

.small-icon {
  width: 20px;
  height: 20px;
}

.center-text {
  text-align: center;
}

.form-switch .form-check-input {
  width: 3rem;
  height: 1.5rem;
}