
.wrapp-main-registrar-solicitud{
    display: grid;
    height: 100%;
}

.heading-registrar-solicitud {
}

.wrapp-introduccion{
    padding-top: 3em;
    padding-bottom: 1em;
}
.introduccion-texto-solicitud {
    background-color: #c5c5c570;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    width: 17em;
    padding: 1em;
}

.secciones-temas {
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    padding-bottom: 2em;
}

.subtitles-secciones{
    margin: 0;
    font-weight: bold;
    text-align: left;
    width: 80vw;
    max-width: 50em;
}

.form-datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.inputs-registrar-solicitud{
    width: 80vw;
    max-width: 50em;
}

.wrapp-input-load{
   position: relative;
   width: 50vw;
   max-width: 20em;
   height: 20em; 
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.inputs-subir-archivos{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.boton-subir-anexos{
    border: 0;
    border-radius: 10px;
    padding: .6em;
    background-color: #00913D;
    color: white;
    margin: 0;
}

.wrapp-visualizacion-anexos{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    align-items: center;
    width: 30em;
    border-radius: 0.5em;
    border: .2em solid #000000;
    padding: 1em;
    color:#000000;
}

.lista-anexos{
    gap: 2em;
    display: flex;
    flex-direction: column;
}

/* Versión < 700px Tablets y Escritorios*/

@media (min-width: 700px) {

    .wrapp-introduccion {
      display: none;
    }

    .heading-registrar-solicitud{
        padding-bottom: 3em;
    }

    .secciones-temas{
        gap: 4em;
    }
    
}

@media (min-width: 1000px) {

    .img-rectangulo{
        max-height: 5em;
    }

    .secciones-temas{
        gap: 2.3em;
    }
    
}
