
.wrapp-main-registrar-solicitud{
    display: grid;
    height: 100%;
    padding-bottom: 4em;
}

.heading-registrar-solicitud {
    padding-top: 3em;
}

.wrapp-introduccion{
    padding-top: 3em;
    padding-bottom: 1em;
}
.introduccion-texto-solicitud {
    background-color: #c5c5c570;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    width: 17em;
    padding: 1em;
}

.secciones-temas {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.subtitles-secciones{
    margin: 0;
    font-weight: bold;
    text-align: left;
    width: 80vw;
    max-width: 50em;
}

.form-datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.inputs-registrar-solicitud{
    width: 80vw;
    max-width: 50em;
}

.boton-subir-anexos{
    border: 0;
    border-radius: 10px;
    padding: .6em;
    background-color: #00913D;
    color: white;
}

/* Versión < 700px Tablets y Escritorios*/

@media (min-width: 700px) {

    .wrapp-introduccion {
      display: none;
    }

    .heading-registrar-solicitud{
        padding-bottom: 3em;
    }
}