.contenedor-principal-reportes {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: content-box;
    justify-content: center;
    align-items: center;
    padding: 2em;
    gap: 3em;
}

.contenedor-principal-reportes > img {
    max-height: 60%;
    max-width: 50%;
}

.contedor-encapsulamiento-gris {
    width: 40vw;
    max-width: 45em;
    height: 25em;
    /* background-color: #e7e6e6; */
    box-sizing: content-box;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 11px -1px rgba(0,0,0,0.75);
    margin: 25px;

}

.contenedor-opciones-reporte {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tabla-reportes-encapsulamiento-blanco {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.tabla-reportes {
    width: 90%;
    height: 95%;
    background-color: white;
    border-radius: 15px;
    border: 1px solid rgba(4, 4, 4, 0.29);
}

.seleccionar-buscar {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1%;
    margin-top: 1em;
}

.fecha-inicio-finalizacion {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -1.5em;
}

.iconos-reportes {
    width: 50px;
}

.seleccionar-reporte>label {
    color: #00460e;
}

.input-fecha {
    text-align: center;
    width: fit-content;
    
    border-radius: 25px;
    font-size: 20px;
    font-weight: 500 white;
    border: 1px solid black;
}

.input-busqueda {
    width: 25%;
    height: 40%;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 500 white;
    border: 1px solid black;
    text-align: center;
}

.boton-busqueda {
    width: 15%;
    height: 40%;
    border-radius: 15px;
    font-size: 30px;
    font-weight: 500 white;
    border: 1px solid black;
    text-align: center;
    background-color: hsl(145deg 100% 28%);
    color: white;
}

.input-reportes {
    text-align: center;
    width: 100%;
    height: 40%;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 500 white;
    border: 1px solid black;
}

.input-busqueda {
    text-align: center;
    width: 40%;
    height: 40%;
    border-radius: 25px;
    font-size: 30px;
    font-weight: 500 white;
    border: 1px solid black;
}

.btn-reportes{
    font-size: .9em;
    font-weight: 500;
    background-color: #00460e;
    color: white;
}