
.modulo-solicitud-content-main-column1 {
    padding: 15px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 45%;
    
}

.modulo-solicitud-content-main-column2{
    width: 45%;
    height: fit-content;
    padding: 15px;
}

.modulo-solicitud-content-main-column2-form1 {
    border: 1px solid black;
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-evenly;
    height: 17%;
}

.modulo-solicitud-content-main-column2-form2 {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 67%;
}

.modulo-solicitud-content-main-column2-save-button-container {
    display: flex;
    justify-content: flex-end;
}

.modulo-solicitud-content-main-column2-save-button {
    background: none;
    border: none;
    max-width: fit-content;
    max-height: fit-content;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modulo-solicitud-content-main-column2-save-button-img {
    float: right;
    max-height: 60px;
}

.modulo-solicitud-content-main-column2-save-button > p{
    margin-bottom: 0px;
    /* padding-bottom: 20px; */
}

.modulo-solicitud-content-main-text-input {
    border: none;
}


.modulo-solicitud-content-main-datos {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
