.container-convocado {
    max-width: 85%;
}

.titulo-informacion-convocado {
    max-width: fit-content;
    margin-bottom: 4%;
    display: grid;
}

.contenedor-navbar-agregar-convocado {
    margin-bottom: 4%;
}

#boton-agregar-convocado {
    background-color: rgb(56, 165, 42);
    border-color: rgb(56, 165, 42);
}

.contenedor-tabla-convocado {
    font-size: small;
    text-align: center;
    padding-bottom: 5px;
}

.registro-convocado {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 5%;
    margin-bottom: 50px;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 10%), 0 4px 20px rgb(0 0 0 / 10%);
}
#boton-aceptar-registro-convocado {
    width: 12%;
    background-color: rgb(56, 165, 42);
    border-color: rgb(56, 165, 42);
    font-size: 1vw;
}

.boton-tabla-eliminar {
    background-color: transparent;
    border-color: transparent;
}

.boton-tabla-eliminar:hover {
    color: red;
}