.button-beautiful-wrapper {
    /* max-width: 100%; */
    padding: 6px;
    overflow: visible;
}

.button-beautiful-container {
    display: flex;
    margin: 2px;
    align-items: center;
    justify-content: center;
    /* justify-content: center; */
    background-color: #00460e;
    border: 1px solid rgba(113, 113, 113, 0.412);
    padding: 8px;
    /* margin: 10px; */
    border-radius: 8px;
    /* width: 100%; */
    text-decoration: none;
    height: 2rem;
}


.button-beautiful-container:hover {
    background-color: #5c9e31;
}

.button-beautiful-container-label {
    color: rgb(255, 255, 255);
}