
.wrapp-main-pantalla-principal{
    width: 100%;
    height: 100%;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr); */
    display: flex;
    flex-direction: column;
}

.dos{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-universidad-movil{
    display: flex;
    width: 100%;
    justify-content: center;
}

.imagen-logo-principal{
    width: 11rem;
}

.cuerpo-principal{
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    align-items: center;
}

.carta-consulta-solicitud{
    display: flex;
    width: 80%;
    height: 10em;
    background-color: #d9d9d9;
    border-radius: .5rem;
    text-decoration: none;
    color: black;
    justify-content: space-between;
    align-items: center;
}

.carta-consulta-solicitud:hover{
    opacity: 0.5;
    background-color: #00460F;
    color: white;
}

.contenedor-descripcion{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-imagen{
    height: 100%;
    width: 60%;
    border-radius: .5rem;
}

.imagen_solicitud{
    width: 100%;
    height: 100%;
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
}

.titulo{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.contenido{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.boton-ingreso{
    width: 8rem;
    border-radius: 0.6rem;
    border: 0;
    text-decoration: none;
    background-color: #C4C4C4; 
    color: black;
    padding: .5em;
}

.boton-ingreso:hover{
    background-color: #00460F;
    color: white;
}

.logo-pagina-escritorio{
    display: none;
}

@media (min-width: 600px) {

    .dos{
        padding: 1em;
    }

    .carta-consulta-solicitud{
        height: 25vh;
    }
}

@media (min-width: 1000px) {

    .logo-universidad-movil{
        display: none;
    }

    .uno{
        display: flex;
        flex-direction: column;
    }

    .logo-pagina-escritorio{
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .imagen-logo-principal2{
        width: 13em;
        margin-top: 2em;
    }

    .contenedor-rectangulo-grande{
        padding-top: 3em;
    }

    .cuerpo-principal{
        flex-direction: row;
        gap: 5em;
    }

    .boton-ingreso{
        position: absolute;
        top: 6em;
        right: 3%;
    }

    .carta-consulta-solicitud{
        height: 55vh;
        max-height: 550px;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        border-radius: 1.5em;
    }

    .contenedor-descripcion {
        padding: 1em;
    }

    .contenedor-imagen{
        width: 100%;
        border-radius: 1.5em;
    }

    .imagen_solicitud{
        height: 17em;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 1.5em;
        border-top-right-radius: 1.5em;
    }
}

@media (min-width: 1400px) {

    .cuerpo-principal{
        gap: 13em;
    }

    .imagen-logo-principal2{
        width: 17em;
        margin-top: 6em;
    }
}

@media (min-height: 850px) {

    .imagen-logo-principal2{
        margin-top: 6em;
    }
}

