
.wrapp-main-pantalla-principal{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.uno{
    grid-area: 1 / 1 / 3 / 6;
}

.dos{
    grid-area: 3 / 1 / 9 / 6;
    display: flex;
    padding: 1em;
}

.svg-rectangulo{
    height: 90%;
    width: 96%;
}

.logo-universidad-movil{
    display: flex;
    width: 100%;
    justify-content: center;
}

.imagen-logo-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11rem;
    height: 11rem;
}

.cuerpo-principal{
    margin-top: 3em;
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;

}

.carta-solicitud{
    display: flex;
    width: 80%;
    height: 35%;
    background-color: #d9d9d9;
    border-radius: 1.5rem;
}

.carta-solicitud:hover{
    opacity: 0.5;
    background-color: #00460F;
    color: white;
}
.carta-consulta:hover{
    opacity: 0.5;
    background-color: #00460F;
    color: white;
}

.carta-consulta{
    display: flex;
    width: 80%;
    height: 35%;
    background-color: #d9d9d9;
    border-radius: 1.5rem;
    margin-left: 2.6rem;
    margin-top: 2.6rem;
}

.contenedor-descripcion{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen{
    height: 100%;
    width: 40%;
    border-radius: 1.5rem;
}

.imagen_solicitud{
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
}

.contenedor-label{
    width: 20rem;
    height: 14vh;
    background-color: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
}

.titulo{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.contenido{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}
.contenido2{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.boton-ingreso{
    width: 8rem;
    border-radius: 0.6rem;
    border: 0;
    text-decoration: none;
    background-color: #C4C4C4; 
    color: black;
    padding: .5em;
}

.boton-ingreso:hover{
    background-color: #00460F;
    color: white;
}

.logo-pagina-escritorio{
    margin-top: 3rem;
}

.imagen-logo-principal2{
    height: 4em;
}

@media (min-width: 1000px) {
    .imagen-logo-principal{
        display: none;
    }

    .contenedor-rectangulo-grande{
        padding-top: 6em;
    }
    .cuerpo-principal{
        height: 45em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 7rem;
        margin-top: 0;
    }

    .carta-consulta{
        margin: 0;
        height: 80%;
        width: 25rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
       
    }
    .carta-solicitud{
        margin: 0;
        height: 80%;
        width: 25rem;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .boton-ingreso{
        position: absolute;
        top: 6em;
        right: 4em;
    }

    .contenedor-imagen{
        height: 50%;
        width: 100%;
        border-radius: 1.5rem;
    }
    .contenido{
        display: none;
    }
    .imagen_solicitud{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media (max-width: 1000px) {
    .imagen-logo-principal2{
        display: none;
    }

    .logo-pagina-escritorio{
        display: none;
    }
    .contenedor-label{
        display: none;
    }
}

@media (min-width: 1200px) {

    .carta-consulta{
        margin: 0;
        height: 80%;
        width: 30rem;
       
    }
    .carta-solicitud{
        margin: 0;
        height: 80%;
        width: 30rem;
    }
    .contenedor-label{
        width: 25rem;
    }
}

@media(min-width: 1400px){
    .cuerpo-principal{
        height: 60vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15rem;
        margin-top: 0;
    }
}