:root {
    /* Inicio de Sesion*/
    --color-principal: #d8ddd5;
    --color-cuadro-texto: rgba(255, 255, 255, 0.575);
    --color-contenedor-principal: #ffffff38;
    --color-boton: #2da05f;
    --color-linea-login: #8c8585;

    --letra-login: 'Poppins', sans-serif;
}

.wrapper-main {
    position: absolute;
    overflow: auto;
    background-color: var(--color-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../../public/images/imagen_fondo1.jpg");
    background-repeat: no-repeat;
    margin: 0;
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
}

.main {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 75%;
    background-color: var(--color-contenedor-principal);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vh;
    backdrop-filter: blur(0.4vh);
    gap: 7%;
    padding: 1em;

}

.login {
    width: 23em;
    height: 80%;
    border-radius: 10%;
    background-color: rgba(255, 255, 255, 0.575);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(2px);
    font-size: .8em;
    padding: 1em;
}

.intro {
    width: 32em;
    height: 50%;
    border-radius: 0 2vh 2vh 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-size: .8em;
    
}
.boton-entrar-sin-registro{
    position:absolute;
    top: 80%;
    left: 50%;
    width: 50%;
    height: 9%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;    
    border-color: transparent;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    font-size: 1em;
    font-weight:500;
}

.boton-entrar-sin-registro:hover{
    background-color: #2da05f;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color-cuadro-texto);
    height: 100%;
    font-family: var(--letra-login);
    
}

.intro-text>h2 {
    text-align: center;
    color: var(--color-boton);
    font-size: 1.4em;
    font-weight: 600;
}

.intro-text>p {
    text-align: justify;
    font-size: .9em;
    padding: 1em;
}

.intro-triangle {
    width: 7vh;
    height: 0vh;
    border-top: 20vh solid transparent;
    border-bottom: 20vh solid transparent;
    border-right: 15vh solid var(--color-cuadro-texto);
}

.logo {
    padding-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo>img {
    max-width: 70%;
}

.boton-login {
    width: 16em;
    height: 2.4em;
    background-color: var(--color-boton);
    border: var(--color-boton);
    border-radius: .5em;
    font-size: 1.1em;
    font-family: var(--letra-login);
    color: white;
    cursor: pointer;
    margin-top: -4em;
}

.boton-login:hover {
    background-color: rgb(6, 58, 11);
}

.user {
    display: flex;
    float: left;
}

.user>input {
    width: 13em;
    height: 4vh;
    border: none;
    background-color: transparent;
    border-bottom: 0.4vh solid var(--color-linea-login);
    margin-bottom: 10%;
    font-size: 2vh;
    outline: 0;
}

.user>input:focus {
    border-bottom: 0.5vh solid var(--color-boton);
}

.user>img {
    width: 5vh;
    height: 5vh;
    background-repeat: no-repeat;
    border: none;
    background-size: contain;
    margin-right: 2vh;
}

.password {
    display: flex;
    float: left;
}

.password>img {
    width: 5vh;
    height: 5vh;
    background-repeat: no-repeat;
    border: none;
    background-size: contain;
    margin-right: 2vh;
}

.password>input {
    width: 13em;
    height: 4vh;
    border: none;
    background-color: transparent;
    border-bottom: 0.4vh solid var(--color-linea-login);
    font-size: 2vh;
    outline: 0;
}

.password>input:focus {
    border-bottom: 0.5vh solid var(--color-boton);
}

.form-inicio-sesion {
    width: 73%;
    height: 50 vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login>a {
    display: flex;
    font-size: 1vw;
    font-family: var(--letra-login);
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.login>a:hover {
    color: var(--color-boton);
}