.container{
    max-width: 90%;
    
}
.titulo-informacion-conciliador{
    max-width: fit-content;
    margin-bottom: 4%;
    display: grid;
}
.contenedor-navbar-agregar-conciliador{
    margin-bottom: 3%;
    
}
#boton-agregar-conciliador{
    background-color: rgb(56, 165, 42);
    border-color: rgb(56, 165, 42);;
}
.contenedor-tabla-conciliador{
    font-size: small;
    text-align: center;
}
.registro-convocado{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    padding: 5%;
    margin-bottom: 50px;
    border: 1px solid;
    border-radius: 5px;
}
.input-registro-convocado, .drowdown-registro-convocado{
    width: 30%;
}
#boton-aceptar-registro-conciliador{
    width: 12%;
    background-color: rgb(56, 165, 42);
    border-color: rgb(56, 165, 42);
    font-size: 1vw;
}
.boton-tabla-eliminar{
    background-color: transparent;
    border-color: transparent;
}
.boton-tabla-eliminar:hover{
    color: red;
}