
.contenedor-principal-modulo-audiencia {
    width: 85%;
    height: 100%;
    
}

.titulo-modulo-audiencia {
    display: flex;
    align-items: center;
}

.contenedor-boton-audiencia{
    display: flex;
    justify-content: end;
}
.boton-audiencia{
    background-color: rgb(56, 165, 42);
    border-color: rgb(56, 165, 42);
}
.contenedor-tabla-audiencia {
    font-size: small;
    text-align: center;
}