.modulo-solicitud-wrapper {
    margin: 0px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    overflow: auto;
    padding: 20px;
    width: 100%;
    padding-right: 5%;
    height: fit-content;
}

.modulo-solicitud-container {
    margin: 2%;
    border: 1px solid rgb(0, 0, 0);
    padding-bottom: 50px;
    padding: 20px;
    font-size: 1vw;
    max-width: 100%;
}

.modulo-solicitud-navbar {
    width: 100%;
    display: flex;
    justify-content: end;

}

.modulo-solicitud-navbar>a {
    width: 3%;
}

.modulo-solicitud-small-image {
    width: 100%;
}

.modulo-solicitud-content {
    display: flex;
    justify-content: space-evenly;
    gap: 2%;
}

.modulo-solicitud-content-navbar {
    display: flex;
    flex-direction: column;
    border: solid 1px #CBC9C9;
    padding: 20px 20px 20px 20px;
    width: 36vh;
    background-color: #cbc9c9;
}

.modulo-solicitud-content-navbar-link {
    background-color: white;
    border: 1px solid #CBC9C9;
    margin: 2px;
    padding: 10px 5px;
    border-radius: 4px;
    text-decoration: none;
    color: black ;
    text-align: center;
    transition: margin-left 180ms;
    transition: color 180ms;
}

.modulo-solicitud-content-navbar-link:hover {
    background-color: #5c9e31;
    width: 100%;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
}

.modulo-solicitud-content-navbar-link:focus {
    background-color: #5c9e31;
    color: white;
    border: 1px solid rgba(0, 0, 0, 0);
}


.modulo-solicitud-content-main {
    border: 1px solid black;
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    /* padding-top: 80px; */
}