.contenedor-principal-modulo-audiencia-registro {
    width: 85%;
    height: 100%;
    display: grid;
    grid-gap: 1em;
}

.contenedor-asignacion-turnos {
    display: flex;
    flex-direction: column;
    font-size: small;
    text-align: center;
    /* box-shadow: 0px 2px 4px rgb(0 0 0 / 10%), 0 4px 20px rgb(0 0 0 / 10%); */
    align-items: center;
}

.contenedor-citacion-descripcion {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

.contenedor-boton-audiencia {
    display: flex;
    justify-content: start;
}

.titulo-informacion-audiencia {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor-tabla-audiencia-registro {
    font-size: small;
}

.contenedor-tabla-audiencia-registro>table {
    width: 85%;
}

.separador-virtual-presencial {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 1vw;

}