.contenedor-main-encuesta {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    /* justify-content: space-evenly; */
    
}

.cantenedor-descripcion-califcaion {
    width: 80%;
    box-sizing: content-box;

}

.tabla-pregunta-respuesta {
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: center;
}

.boton-medio-conocimiento {
    display: block;
    color: white;
    background-color: rgb(56, 165, 42);
    border: 0;
    border-radius: .5em;
    font-size: .9em;
    width: 7em;
    font-weight: 500;
    padding: .3em;
    text-align: center;
}

.boton-enviar-encuentas{
    display: block;
    color: white;
    background-color: #0d6efd;
    border: 0;
    border-radius: .5em;
    font-size: 1.3em;
    width: 5em;
    font-weight: 500;
}

.form-check{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.btn-peligro{
    display: flex;
    justify-content: center;
    padding: .5em;
}