

.layout {
    /* background-color: rgb(210, 237, 209); */
    width: 100vw;
    min-height: 100vh;
    font-family: var(--font);
}

.layout-footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    color: white;
}